@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 10px;
    padding: 100px;
    border-radius: 20px;
    background-color: #443627;
    width: 80%;
    height: 570px;
    
}
#rightNumber{
    font-family: "Tektur";
    font-size: 40px;
   visibility: hidden;
}
h1{
    font-family: "Tektur";
}
#start{
    border: none;
    padding: 10px;
    background-color: #f7a841;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Poppins";
    letter-spacing: 1px;
    color: black
}
#submit{
    border: none;
    padding: 10px;
    background-color: #f7a841;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Source Code Pro";
    color: black
}
@media only screen and (max-width: 768px){
    body{
        background-color: #443627;
    }
    .container{
      margin-top: 90px !important;
       border-radius: 0;
        border: none;
        padding: 10px 0px 10px 0px;
    }
}
@media only screen and (max-width: 426px){
  .card{
    padding: 0 40px 0 100px;
  }
  .container{
       border-radius: 0;
        border: none;
    }
}
@media only screen and (max-width: 390px){
  .container{
    margin-top: 90px;
  }
}
